<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="head">
    <div class="layui-header">
        <div class="layui-logo">IT事件管理平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/itevent/index">首页(图表)</a></li>
            <li class="layui-nav-item"><a href="/itevent/assetsTable">资产使用中(Table 人员对应)</a></li>
            <li class="layui-nav-item"><a href="">出入记录</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="http://localhost:8091/itams/index">ITAMS</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" style="margin-right: 30px;">
                <a href="javascript:;">
                    <span style="position: static" th:if="${session.msgNum > 0}" class="layui-badge-dot" ></span><span th:text="${session.username}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">
                            <span style="position: static" th:if="${session.msgNum > 0}" class="layui-badge" th:text="${session.msgNum}">
                            </span>
                            逾期通知
                        </a></dd>
                    <dd><a href="/itevent/logout">退出</a></dd>
                </dl>
            </li>

        </ul>
    </div>
</div>
</body>
</html>