<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:fragment="nav">
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">发起事件</a>
                            <dl class="layui-nav-child">
                                <dd><a id="subBill" href="/itevent/subBill">提单领取</a></dd>
                                <dd><a id="oldToNew" href="/itevent/exchange">以旧换新</a></dd>
                                <dd><a id="borrow" href="/itevent/borrow">借用</a></dd>
                                <dd><a id="back" href="/itevent/back">退还</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">入库</a>
                            <dl class="layui-nav-child">
                                <dd><a id="newItem" href="/itevent/Item">物料登记</a></dd>
                                <dd><a id="newAssets" href="/itevent/newAssets">新资产入库</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a id="scrap" href="/itevent/scrap">资产报废</a></li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>