<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>IT事件管理系统</title>
    <link th:href="@{../css/layui.css}" href="../css/layui.css" rel="stylesheet" type="text/css">
    <link th:href="@{../css/ite/common.css}" rel="stylesheet" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="common/head :: head"></div>
    <div th:include="common/nav :: nav"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 1%">
            <legend>发起事件</legend>
        </fieldset>
         <div class="layui-row">
	        <form class="layui-form" action=""  id="initation">
	        	<input  hidden="hidden" name="adminuser" th:value="${adminuser}"/>
		        <div class="layui-col-xs12  layui-col-md4">
					    <label class="layui-form-label">选择事件</label>
					    <div class="layui-input-block">
					    	<select name="level_1" id="level_1" lay-verify="filter1" lay-filter="filter1">
					    	</select>
					    </div>
			    </div>
		        <div class="layui-col-xs12  layui-col-md4">
					    <label class="layui-form-label">选择事件</label>
					    <div class="layui-input-block">
					    	<select name="level_2" id="level_2" lay-verify="filter2" lay-filter="filter2">
					    	</select>
					    </div>
			    </div>
			    <div class="layui-col-xs12  layui-col-md4">
				    <label class="layui-form-label">事件描述</label>
				    <div class="layui-input-block">
					    	<input name="description" id="description" class="layui-input" lay-verify="" lay-filter="" />
				    </div>
			    </div>
			    <div class="layui-col-xs12  layui-col-md4" style="margin-top: 10px;">
				    <label class="layui-form-label">物料名称</label>
				    <div class="layui-input-block">
					    	<select name="type" id="type" lay-verify="" lay-filter="type1">
					    	</select>
				    </div>
			    </div>
			    <div class="layui-col-xs12  layui-col-md4" style="margin-top: 10px;">
				    <label class="layui-form-label">物料描述</label>
				    <div class="layui-input-block">
					    	<select name="brand" id="brand" lay-verify="" lay-filter="brand1">
					    	</select>
				    </div>
			    </div>
			    <div class="layui-col-xs12  layui-col-md4" style="margin-top: 10px;">
				    <label class="layui-form-label">物料编码</label>
				    <div class="layui-input-block">
					    	<input name="itemid" id="itemid" class="layui-input" lay-verify="" lay-filter="" />
				    </div>
			    </div>
			     <div class="layui-col-xs12  layui-col-md4" style="margin-top: 10px;">
				    <label class="layui-form-label" style="margin-top: -10px;">事件发起人工号</label>
				    <div class="layui-input-block">
					    	<input name="userid" id="userid"class="layui-input"  lay-verify="" lay-filter="" />
				    </div>
			    </div>
			     <div class="layui-col-xs12  layui-col-md4" style="margin-top: 10px;">
				    <label class="layui-form-label" style="margin-top: -10px;">事件发起人电话</label>
				    <div class="layui-input-block">
					    	<input name="phone" id="phone"class="layui-input"  lay-verify="" lay-filter="" />
				    </div>
			    </div>
			     <div class="layui-col-xs12  layui-col-md12">
				    <label class="layui-form-label">备注</label>
				    <div class="layui-input-block">
					    	<textarea  name="remark" id="remark" class="layui-textarea"  lay-verify="" lay-filter="" >
					    	</textarea>
				    </div>
			    </div>
			      <div class="layui-form-item" style="margin-top: 20px;">
				    <div class="layui-input-block" style="padding-top: 20px">
				      <button class="layui-btn" lay-submit lay-filter="sub" style="margin-left: 35%;">立即提交</button>
				      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
				    </div>
				  </div>
		    </form>
 		 </div>
    </div>


</div>

<!-- jQuery-->
<script th:src="@{../js/jquery-3.4.0.min.js}" type="text/javascript"></script>
<script th:src="@{../js/layui.js}"  type="text/javascript"></script>
<script th:src="@{../js/ite/initation.js}"></script>

</body>
</html>
