<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>IT事件管理系统</title>
    <link th:href="@{../css/layui.css}" href="../js/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link th:href="@{../css/ite/common.css}" rel="stylesheet" type="text/css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="common/head :: head"></div>
    <div th:include="common/nav :: nav"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 1%">
            <legend>已有资产入库</legend>
        </fieldset>
        <form class="layui-form" id="event">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <input  class="layui-input" type="text" name="userid" id="userid" lay-verify="required" placeholder="工号" >
                    </div>
                    <div class="layui-col-xs1 leftoffset">
                        <input  class="layui-input" type="text" name="name" id="name" lay-verify="required" placeholder="姓名" >
                    </div>
                    <div class="layui-col-xs2 leftoffset">
                        <select class="layui-input" id="department" name="department" lay-verify=""  lay-filter="dep" lay-search ></select>
                    </div>
                    <div class="layui-col-xs2 leftoffset">
                        <input  class="layui-input  " type="text" name="phone" id="phone" lay-verify="" placeholder="联系方式" >
                    </div>
                    <div class="layui-col-xs2 leftoffset">
                        <select  class="layui-input  "  name="location" id="location" lay-verify=""lay-filter="location" placeholder="物理位置" >
                            <option value="H-4栋1F南">H-4栋1F南</option>
                            <option value="H-4栋1F北">H-4栋1F北</option>
                            <option value="H-4栋2F南">H-4栋2F南</option>
                            <option value="H-4栋2F北">H-4栋2F北</option>
                            <option value="H-4栋3F南">H-4栋3F南</option>
                            <option value="H-4栋3F北">H-4栋3F北</option>
                            <option value="H-4栋4F南">H-4栋4F南</option>
                            <option value="H-4栋4F北">H-4栋4F北</option>
                            <option value="H-4栋5F南">H-4栋5F南</option>
                            <option value="H-4栋5F北">H-4栋5F北</option>
                            <option value="H-5栋1F南">H-5栋1F南</option>
                            <option value="H-5栋1F北">H-5栋1F北</option>
                            <option value="H-5栋2F南">H-5栋2F南</option>
                            <option value="H-5栋2F北">H-5栋2F北</option>
                            <option value="H-5栋3F南">H-5栋3F南</option>
                            <option value="H-5栋3F北">H-5栋3F北</option>
                            <option value="H-5栋4F南">H-5栋4F南</option>
                            <option value="H-5栋4F北">H-5栋4F北</option>
                            <option value="H-5栋5F南">H-5栋5F南</option>
                            <option value="H-5栋5F北">H-5栋5F北</option>
                            <option value="H-6栋1F南">H-6栋1F南</option>
                            <option value="H-6栋1F北">H-6栋1F北</option>
                            <option value="H-6栋2F南">H-6栋2F南</option>
                            <option value="H-6栋2F北">H-6栋2F北</option>
                            <option value="H-6栋3F南">H-6栋3F南</option>
                            <option value="H-6栋3F北">H-6栋3F北</option>
                            <option value="H-6栋4F南">H-6栋4F南</option>
                            <option value="H-6栋4F北">H-6栋4F北</option>
                            <option value="H-6栋5F南">H-6栋5F南</option>
                            <option value="H-6栋5F北">H-6栋5F北</option>
                        </select>
                    </div>
                    <div class="layui-col-xs2 leftoffset">
                        <input  class="layui-input  " type="text" name="remark" id="remark" lay-verify="" placeholder="备注" >
                    </div>
                </div>
                <div class="layui-form" style="width: 96%;">
                    <table class="layui-table" >
                        <colgroup>
                            <col width="100">
                            <col width="120">
                            <col width="120">
                            <col width="150">
                            <col width="120">
                            <col width="60">
                            <col width="60">
                            <col width="60">
                            <col width="60">
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th>资产牌</th>
                            <th>物料编码</th>
                            <th>物料名称</th>
                            <th>物料描述</th>
                            <th>数量</th>
                           <!--  <th>库存现有</th>
                            <th>库存可用</th> -->
                            <th>单位</th>
                        </tr>
                        </thead>
                        <tbody id="item-table">
                        <tr>
                            <td>
                                <a class="addItem" href="#" onclick="addItem()"><i class="layui-icon layui-icon-add-1" style="font-size: 30px; color: #1E9FFF;"></i></a>
                                <a class="delItem" href="#" onclick="delItem(this)"><i class="layui-icon layui-icon-close" style="font-size: 30px; color: #1E9FFF;"></i></a>
                            </td>
                            <td><input onkeyup="toUpperCase(this)"  name="assetsid1" id="assetsid1"  class="layui-input " type="text"  placeholder="有资产牌请填写" ></td>
                            <td>
                                <input onkeyup="toUpperCase(this)" item="item" name="itemid1" id="itemid1"  class="layui-input " type="text" lay-verify="required" placeholder="" >
                            </td>
                            <td>
                                <select id="type1" name="type1" lay-verify=""  lay-filter="type" lay-search ></select>
                            </td>
                            <td>
                                <select id="brand1" name="brand1" lay-verify="" lay-filter="brand"></select>
                            </td>
                            <td>
                                <input   name="count1" id="count1" value="1" class="layui-input" type="number" min="1" readonly lay-verify="required" placeholder="" >
                            </td>
                         <!--    <td>  库存现有
                                <input   name="all1" id="all1" value="" class="layui-input" type="text" readonly placeholder="" >
                            </td>
                            <td>     库存可用
                                <input   name="available1" id="available1" value="" class="layui-input" type="text" readonly placeholder="" >
                            </td> -->
                            <td>
                                <input   name="unit1" id="unit1" class="layui-input" type="text"  readonly placeholder="" >
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-footer" style="background-color: white">
                <div class="layui-row" >
                    <div class="layui-form-item layui-col-md4 layui-col-md-offset4">
                        <button  type="button"  class="layui-btn  layui-btn-lg"  lay-submit lay-filter="sub">提交数据</button>
                        <button type="button" id="import" data-toggle="modal"data-target="#update" class="layui-btn  layui-btn-lg" >上传数据</button>
                        <button  type="button" id="dowexcel"  class="layui-btn  layui-btn-lg" lay-submit  >下载模板</button>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/html" id="addModel">
            <!-- Modal copy -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal2" style="padding-left: 35%;">选择文件上传</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center">
                        <form id="upForm" method="post" action="#" enctype="multipart/form-data">
                            <input id="uploadFile" disabled="disabled" />
                                 <button id="upload"  type="button" >选择文件</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="uploadButton" style="margin-left: 40%;" type="button" class="layui-btn" >上传</button>
                </div>
    </div>
        </script>
    </div>


</div>

<!-- jQuery-->
<script th:src="@{../js/jquery-3.4.0.min.js}" type="text/javascript"></script>
<script th:src="@{../js/layui/layui.all.js}"  type="text/javascript"></script>
<script th:src="@{../js/ite/common.js}"></script>
<script th:src="@{../js/ite/oldAssets.js}"></script>

</body>
</html>
